# copy from https://github.com/github/gitignore/blob/master/Scala.gitignore
*.class
*.log

# copy from https://github.com/github/gitignore/blob/master/Global/SBT.gitignore
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

